html
  head
    title EE Web
    link(href="https://fonts.googleapis.com/css?family=Cabin:600")
    script(src="https://d3js.org/d3.v4.js")
  body(data-content="landing")
    .panel
      .nav(data-status="")
        #logo E
        ul#menu
          li#An News & Events
          li#Co Courses
          li#La Faculty & Research
          li#Sc Scholarship
          li Upload
    #content
      #landing.page
        .qutoe
          h1 National Cheng Kung University
          h1 Electronic Engineering
        span ELECTRONIC
      #activity.page 
        div
          div
            p.letter NEWS
            p.letter.indent.yellow  & EVENTS
            //.box
            span.intro Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
          span ACTIVITY
        div
          .board(data-content="title")
            .outline.style-1
              div
                i.fa.fa-trophy.fa-4x.yellow(aria-hidden="true")
                .blank DECEMBER 23,2017
                .blank.gray.blank_detail Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
              div
                i.fa.fa-camera-retro.fa-4x.yellow(aria-hidden="true")
                .blank JULY 18,2017
                .blank.gray.blank_detail Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
              div
                i.fa.fa-cog.fa-4x.yellow(aria-hidden="true")
                .blank MAY 5,2017
                .blank.gray.blank_detail Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
              div
                i.fa.fa-lightbulb-o.fa-4x.yellow(aria-hidden="true")
                .blank APRIL 4,2017
                .blank.gray.blank_detail Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
              div
                i.fa.fa-handshake-o.fa-4x.yellow(aria-hidden="true")
                .blank JANUARY 1,2017
                .blank.gray.blank_detail Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
            .detail.style-1
              p I DON'T WANT TO MISS A THING
              p I could stay awake just to hear you breathing Watch you smile while you are sleeping While far away and dreaming I could spend my life in this sweet surrender I could stay lost in this moment forever Every moment I spend with you is a moment I treasure Don't want to close my eyes Don't want to fall asleep 'Cuz I'd miss you baby And I don't wanna miss a thing 'Cuz even when I dream of you The sweetest dream would never do I'd still miss you baby And I don't want to miss a thing 
              .detail_pic
                img(src=require("../img/IMG_6267-1.jpg"))
                img(src=require("../img/IMG_6281-2.jpg"))
                img(src=require("../img/IMG_6283-3.jpg"))
                img(src=require("../img/IMG_6308-6.jpg"))
              p.record T.Y.Liao
              p.record edited at 2017.12.23
            .redo
              img(src=require('../img/noun_15135_cc.png'))
      #course.page 
        div
          div
            p.letter.inednt.yellow OUR
            p.letter.black  COURSES
            //.box 
            span.intro Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
          span ACTIVITY
      #lab.page 
        div
          div
            p.letter FACULTY
            p.letter.indent.yellow  & RESEARCH 
            //.box
            span.intro Vivamus molestie dui vel varius auctor. Mauris interdum, libero ut efficitur gravida, orci lectus eleifend erat, nec pellentesque massa odio at nulla. Cras id pharetra orci, lacinia aliquet metus.
          span RESEARCH
        div
          .board.lab_board(data-status="group")
            #group.style-1
              .member.group.bc-white
                span.small Instrument System and Chip
              .member.group.bc-white
                span VLSI/CAD
              .member.group.bc-white
                span.small Microelectronic
              .member.group.bc-white
                span CSIS
              .member.group.bc-white
                span.small Communication and Network
              .member.group.bc-white
                span Power
              .member.group.bc-white
                span Control
              .member.group.bc-white
                span Material
              .member.group.bc-white
                span Nano
            #member.style-1
              .member.prof
                img(src=require('../img/dirty.png'))
              .member.prof
                img(src=require('../img/CL.png'))
              .member.prof
                img(src=require('../img/ZL.png'))
